body {
    background-color: black;
}

p {
    margin: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* name */

#name {
    position: fixed;
    top: 0;
    right: 0;
}

p.name {
    color: rgb(104, 170, 255);
    font-size: 8vb;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 0rem;
}

/* Menu */

#chevron {
    color: rgb(104, 170, 255);
    font-size: 5vb;
    position: fixed;
    top: 40%;
    left: 0;
    margin: 0rem;
}

#fade {
    background-image: linear-gradient(to right, rgb(25, 86, 190) 1%, rgba(255, 255, 0, 0));
    white-space: pre;
    position: fixed;
    left: 0;
    height: 100vh;
    width: .5vw;

}

#menulist {
    background-image: linear-gradient(to right, rgb(5, 18, 41) 30%, rgba(255, 255, 0, 0));
    width: 25vb;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -23vb;

    transition-duration: .5s;
}

#menulist:hover {
    left: 0;
    background-image: linear-gradient(to right, rgb(5, 18, 41) 30%, rgba(255, 255, 0, 0));
    /* bacground image changes instant */

    transition-duration: .5s;

}

p.option {
    color: rgb(104, 170, 255);
    font-size: 2.2vb;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 0rem;
}

#menulist:has(.option:hover) .option:not(.option:hover) {
    opacity: 0.2;
}

#menulist:has(.option:hover) .option:hover {
    transform: translate(2px, 2px);
}

/* blob */

#blob {
    position: absolute;
    width: 20vb;
    height: 20vb;
    background-color: aqua;
}