body {
    background-color: black;
}

a {
    text-decoration: inherit;
    color: inherit;
}

#menu {
    position: fixed;
    margin: 0;
    width: 20%;
    height: 20%;
    translate: -50% -50%;
    top: 50%;
    left: 50%;

}

p.option {
    background-color: rgb(97, 97, 97);
    border-radius: 90deg;
    color: white;
    text-align: center;
    font-size: 2.5vw;

    margin: 10px;

    border-radius: 10px;

}

p.option:hover {
    transform: scale(110%, 110%);
}

