body {
    background-image: url("../img/bacground.jpg");
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#comicmenu {
    position: fixed;
    z-index: 0;
    left: 0vb;
    top: 0;
    height: 200vh;
    width: 50vb;
    background-image: linear-gradient(to right, rgb(112, 112, 255), blue);
    translate: -50%;
    transform: skewX(-10deg);
    transform-style: preserve-3d;

    transition-duration: .8s;
}

#comicmenu:hover {
    left: 7vb;

    transition-duration: .8s;
}

#menushadow {
    position: fixed;
    z-index: -1;
    left: 2vb;
    height: 200vh;
    width: 52vb;
    background-color: rgba(0, 0, 0, 0.438);
    translate: -5%;
    transform: translate3d(0, 2vb, -1px);

    transition-duration: .8s;
}

#comicmenu:hover>#menushadow {
    left: 3vb;

    transition-duration: .8s;
}

p.sideoptions {
    margin: 0;
    transform: translate(-3vb, 3vb);

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vb;
    font-weight: 1000;
    color: wheat;
    text-transform: uppercase;
    text-align: right;

    z-index: 1;
}

p.sideoptions:hover {
    transform: translate(-4vb, 3vb);
}

#name {
    position: fixed;
    top: 2vb;
    right: -3vb;
    background-image: linear-gradient(to right, blue 80%, rgb(112, 112, 255));
    transform: skewX(-10deg);

    transform-style: preserve-3d;

    cursor: default;
}

#nameshadow {
    position: fixed;
    height: 10vb;
    width: 200vb;
    background-color: rgba(0, 0, 0, 0.438);

    transform: translate3d(1vb, 1vb, -1px);

}

p.name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vb;
    font-weight: 1000;
    color: wheat;
    text-transform: uppercase;
    text-align: right;

    margin: 0;

    padding-left: 2vb;
    padding-right: 5vb;
    padding-bottom: 2vb;
    padding-top: 2vb;

}